services:
  php-app:
    container_name: web-server
    build:
      context: web
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - ./web/:/var/www/html/
    networks:
      - app

  sql-server:
    container_name: sql-server
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: hive
      MYSQL_ROOT_PASSWORD: "root"
    ports:
      - "3306:3306"
    volumes:
      - ./database/hive.sql:/docker-entrypoint-initdb.d/hive.sql
    restart: always
    networks:
      - app

  jenkins:
    container_name: jenkins
    build:
      context: jenkins
      dockerfile: Dockerfile
    volumes:
      - jenkins-data:/var/jenkins_home
    restart: always
    depends_on:
      - sonar
    environment:
      SONARQUBE_PORT: 9000
    ports:
      - '8080:8080'
    networks:
      - app

  sonar:
    container_name: sonar
    image: sonarqube:latest
    restart: always
    volumes:
      - sonarqube-data:/opt/sonar-mf-cube/data
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    ports:
      - '9000:9000'
    networks:
      - app

  hive-ai:
    container_name: hive-ai
    build:
      context: ai
      dockerfile: Dockerfile
    ports:
      - '7000:7000'
    networks:
      - app

volumes:
  jenkins-data:
  sonarqube-data:
networks:
  app: